.navbar{
    padding: 1rem;
    background-color: 1px solid #ccc;
}

.nav-link {
 margin-right: 1rem;
 text-decoration: none;
 color: inherit;   
}

.post{
    margin-bottom: 1.5rem;
    padding: 1rem;
    border: 1px solid #eee;
    border-radius: 8px;
}

.post-title {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
}

.post-summary {
    color: #555;
}